[submodule "fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "highfive"]
	path = dependencies/highfive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "dependencies/xtl"]
	path = dependencies/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "dependencies/xtensor"]
	path = dependencies/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "dependencies/CLI11"]
	path = dependencies/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "dependencies/itensor"]
	path = dependencies/itensor
	url = https://github.com/ITensor/ITensor
[submodule "dependencies/xsimd"]
	path = dependencies/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
